<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MobileApplication",
  "name": "KartBalance",
  "description": "Professional weight distribution calculator for racing karts. Calculate corner weights, chassis balance, and center of gravity for optimal kart setup.",
  "operatingSystem": "iOS",
  "applicationCategory": "SportsApplication",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.8",
    "ratingCount": "150"
  },
  "author": {
    "@type": "Person",
    "name": "Jon Alter"
  },
  "screenshot": "{{ site.url }}/assets/screenshot01.png",
  "downloadUrl": "https://itunes.apple.com/us/app/kartbalance/id1151974965"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "KartBalance",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/assets/icon-rounded-280.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "kartbalanceapp@gmail.com",
    "contactType": "Customer Support"
  }
}
</script>
