$avenir-light: 'Avenir LT W01 35 Light', 'HelveticaNeue-Light', Helvetica, sans-serif;
$avenir-medium: 'Avenir LT W01 65 Medium', 'HelveticaNeue', Helvetica, sans-serif;
$avenir-heavy: 'Avenir LT W01 85 Heavy', 'HelveticaNeue-Bold', Helvetica, sans-serif;

$dark-text-color: #777;
$light-text-color: #272635;
$link-color: #67a7f7;
$highlight-color: #fdffb6;
$selection-color: #272635;

$top-gradient-color: #b1e5f2;
$bottom-gradient-color: #272635;

$width: 640px;
